:root {
  --scale: 2;
  --notch-v: 18%;
  --notch-h: 20%;
  --v-width: 10px;
  --v-height: 35px;
  --h-width: 22px;
  --h-height: 10px;
  --offset: 2px;
  --segment-color-off: #e7d8bb;
  --segment-color-on: #786E65;
  --box-shadow-color: #776555;
  --button-background-color: #EEE4DA;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #BBADA0;
  padding: 20px 20px;
  border-radius: 15px;
  height: calc(320px * var(--scale));
  width: calc(250px * var(--scale));
  box-shadow: 8px 8px 5px var(--box-shadow-color);
}

.display {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 0 0;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  background-color: var(--button-background-color);
  border-radius: 6px;
  box-shadow: 4px 4px 2px var(--box-shadow-color);
}

.digit {
  flex-direction: row-reverse;
  margin: -10px 20px 15px 20px;
}

.buttons {
  display: flex;
  flex: 3 0 0;
  gap: calc(7px * var(--scale));
  flex: 1 0 auto;
}

.col {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: calc(4px * var(--scale));
}

button {
  flex: 1;
  border: none;
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: calc(24px * var(--scale));
  font-weight: bold;
  text-align: center;
  box-shadow: 5px 5px 2px var(--box-shadow-color);
}

button:active {
  box-shadow: 2px 2px 2px var(--box-shadow-color);
}

.num {
  color: #786E65;
  background-color: var(--button-background-color);
}

.num:hover {
  background-color: #fff;
}

.num:active {
  background-color: #bfb6ac;
}

.operator,
.ac,
.c {
  color: #fff;
  background-color: #F2B179;
}

.operator:hover,
.ac:hover,
.c:hover {
  background-color: #F57C5F;
}

.operator:active,
.ac:active,
.c:active {
  background-color: #b6614c;
}

.equals {
  color: #fff;
  background-color: #F65D3B;
}

.equals:hover {
  background-color: red;
}

.equals:active {
  background-color: darkred;
}

.plus {
  flex: 2;
  padding-top: 7px;
}

.digit {
  position: relative;
  width: 25px;
  height: 60px;
  transform: skewX(-7deg);
}

.vertical-segment {
  width: var(--v-width);
  height: var(--v-height);
  display: inline-block;
  font-size: 100px;
  clip-path: polygon(0% calc(var(--notch-v)),
      50% 0%,
      50% 0%,
      100% calc(var(--notch-v)),
      100% calc(100% - var(--notch-v)),
      50% 100%,
      50% 100%,
      0% calc(100% - var(--notch-v)));
}

.horizontal-segment {
  width: var(--h-width);
  height: var(--h-height);
  display: inline-block;
  font-size: 100px;
  clip-path: polygon(0% 50%,
      calc(var(--notch-h)) 0%,
      calc(100% - var(--notch-h)) 0%,
      100% 50%,
      100% 50%,
      calc(100% - var(--notch-h)) 100%,
      calc(var(--notch-h)) 100%,
      0% 50%);
}

.segment-one {
  background-color: var(--segment-color-off);
  position: absolute;
  left: calc(var(--v-width) / 2 + var(--offset));
}

.segment-two {
  background-color: var(--segment-color-off);
  position: absolute;
  left: calc(var(--h-width) + var(--offset) * 2);
  top: calc(var(--h-height) / 2 + var(--offset));
}

.segment-three {
  background-color: var(--segment-color-off);
  position: absolute;
  left: calc(var(--h-width) + var(--offset) * 2);
  top: calc(var(--v-height) + var(--h-height) / 2 + var(--offset) * 3);
}

.segment-four {
  background-color: var(--segment-color-off);
  position: absolute;
  left: calc(var(--v-width) / 2 + var(--offset));
  top: calc(var(--v-height) * 2 + var(--offset) * 4);
}

.segment-five {
  background-color: var(--segment-color-off);
  position: absolute;
  top: calc(var(--v-height) + var(--h-height) / 2 + var(--offset) * 3);
}

.segment-six {
  background-color: var(--segment-color-off);
  position: absolute;
  top: calc(var(--h-height) / 2 + var(--offset));
}

.segment-seven {
  background-color: var(--segment-color-off);
  position: absolute;
  left: calc(var(--v-width) / 2 + var(--offset));
  top: calc(var(--v-height) + var(--offset) * 2);
}